
@import "~shared/styles/variables";
@import "~shared/styles/layout";

:global {
  .#{$layout-prefix} {
    &container {
      @include layout-container();

      @media (min-width: $screen-sm-min) {
        width: $layout-container-sm;
      }

      @media (min-width: $screen-md-min) {
        width: $layout-container-md;
      }

      @media (min-width: $screen-lg-min) {
        width: $layout-container-lg;
      }

      &-fluid {
        @include layout-container();
      }
    }
  }
}
