@import 'sanitize.css/sanitize';

html {
  height: 100%;
  width: 100%;
}

body {
  height: inherit;
  margin: 0;
  padding: 2em;
  width: inherit;
}

p,
pre {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

pre {
  margin-right: -.1em;
  max-height: 15em;
  max-width: 100%;
  overflow: auto;
}

code {
  background: $color-light-gray;
  display: inline-block;

  &::before,
  &::after {
    content: '`';
  }
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
}
