
.index-section {
    display: table;
    width: 100%;
    height: 100%;
}

.index-quote {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    > cite {
        display: block;
        font-size: .75em;
        font-style: normal;
    }
}
