.index-section {
  display: table;
  height: 100%;
  width: 100%;
}

.index-quote {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  > cite {
    display: block;
    font-size: .75em;
    font-style: normal;
  }
}
