{
  "compact": false,
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "browsers": "last 2 versions"
      },
      "modules": false
    }],
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  },
  "plugins": [
    "react-hot-loader/babel"
  ]
}
