{
  "compact": false,
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  }
}
