{
  "parser": "babel-eslint",
  "extends": ["standard", "plugin:react/recommended"],
  "plugins": ["react", "babel"],
  "globals": {
    "fetch": false,
    "__DEV__": false,
    "__BROWSER__": false
  }
}
