@import 'shared/styles/variables.css';

.wrapper {
  composes: clearfix from "shared/styles/helpers.css";
  position: fixed;
  bottom: 0;
  left: 0;
  top: calc(100% - 2.7rem);
  display: flex;
  width: 100%;
  border-top: 1px solid color(black alpha(5%));
  background-color: color(white alpha(95%));
  transition: top 0.3s;

  &.isOpen {
    top: 0;

    @media (--min-sm) {
      top: 75vh;
    }
  }
}

.toggle {
  composes: clearfix from "shared/styles/helpers.css";
  position: absolute;
  z-index: 2;
  top: 0.5rem;
  right: 1rem;
  height: 1em;
  min-height: 1em;
  margin: 0;
  font-size: 1.5em;
  color: color(black alpha(30%));
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: color(black alpha(100%));
  }

  &:active, &:focus {
    outline: none;
  }

  @media (--min-lg) {
    right: calc(50% - 30rem);
  }
}

.toggleOpen {
  composes: slack from "shared/styles/icons.css";
}

.toggleClose {
  composes: close from "shared/styles/icons.css";
}

.toggleText {
  composes: hideText from "shared/styles/helpers.css";
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @media (--min-lg) {
    max-width: 62rem;
  }
}

.form {
  width: 100%;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  left: 50%;
  transform: translateX(-50%);

  @media (--min-lg) {
    max-width: 62rem;
  }
}

.input {
  width: 100%;
  color: gray;
  border-bottom: 1px solid lightgray;
  transition: border 0.3s, color 0.3s;

  &:active, &:focus {
    outline: none;
    color: black;
    border-bottom-color: gray;
  }
}

.messageListWrapper {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;

  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  &::-webkit-scrollbar-track {
    background: lightgray;
  }

  &::-webkit-scrollbar-thumb {
    background: slategray;
  }

  @nest .isOpen & {
    overflow-y: auto;
  }
}

.messageList {
  margin: 0.5rem 0;
  overflow: hidden;
}

.messageThread {
  margin: 0;
  padding-left: 0.5rem;
  border-left: 1px solid color(black alpha(5%));
}

.message {
  transition: opacity 0.5s, transform 0.5s ease-out;

  &::before {
    content: '';
  }

  &.messageAppear {
    will-change: opacity;
    opacity: 0;
  }

  &.messageAppearActive {
    opacity: 1;
  }

  &.messageEnter {
    will-change: opacity, transform;
    opacity: 0;
    transform: translateX(-100%);
  }

  &.messageEnterActive {
    opacity: 1;
    transform: translateX(0);
  }

  &.messageLeave {
    will-change: opacity, transform;
  }

  &.messageLeaveActive {
    opacity: 0;
    transform: translate(-100%);
  }
}

.messageEmoji {
  width: 1.25em;
  height: 1.25em;
}

.messageEdited {
  color: color(black lightness(75%));
}
