.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid color(black alpha(-95%));
  background-color: color(white alpha(-25%));
}

.toggle {
  composes: clearfix from "shared/styles/helpers.css";
  composes: slack from "shared/styles/icons.css";

  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  min-height: 1em;
  margin: 0;
  font-size: 1.5em;
}

.container {
  max-width: 65rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.input {
  width: 100%;
  color: gray;
  border-bottom: 1px solid lightgray;
  transition: border 0.3s, color 0.3s;

  &:active,
  &:focus {
    outline: none;
    color: black;
    border-bottom-color: gray;
  }
}

.messageEdited {
  color: color(black lightness(75%));
}
