
:root {
  --root-color: #000;
  --root-background-color: #fff;
  --root-font-family: "Fira Mono", monospace;
  --monospace-font-family: var(--root-font-family);
}

/* screens [size] and wider */
@custom-media --min-sm (width >= 36em);
@custom-media --min-md (width >= 48em);
@custom-media --min-lg (width >= 62em);
@custom-media --min-xl (width >= 75em);

/* screens [size] and smaller */
@custom-media --max-xs (width < 36em);
@custom-media --max-sm (width < 48em);
@custom-media --max-md (width < 62em);
@custom-media --max-lg (width < 75em);

/* screens withing [size] */
@custom-media --only-xs (width < 36em);
@custom-media --only-sm (width >= 36em) and (width < 48em);
@custom-media --only-md (width >= 48em) and (width < 62em);
@custom-media --only-lg (width >= 62em) and (width < 75em);
@custom-media --only-xl (width >= 75em);
