
@keyframes fade {
  0% { opacity: 0.35; }
  100% { opacity: 0.75; }
}

.loader {
  position: relative;
  display: block;
  margin-bottom: 1.5rem;
  text-align: left;

  & .loaderText {
    position: absolute;
    left: 100%;
  }
}

.point {
  display: inline-block;
  width: 1ch;
  height: 1ch;
  margin-right: 0.75ch;
  border-radius: 100%;
  background-color: black;
  will-change: transform;
  animation: bounce 1.4s infinite ease-in-out both;
}

.point1 {
  composes: point;
  animation-delay: -0.32s;
}

.point2 {
  composes: point;
  animation-delay: -0.16s;
}

.point3 {
  composes: point;
  animation-delay: 0;
}

@keyframes bounce {
  0%,
  80%,
  100% { transform: scale(0); }
  40% { transform: scale(1); }
}
