extends ../layout

block content
  section
    h1 italicize
    p
      | A silly class to make a regular font look "italic". <br>
      | Wrapping each individual character in a <code>span</code>
      | we can give the impression of the text being italic using
      | <code>skewX</code> transform.
    pre.monotalic
      | #{code}

block script
  script(src="/js/exp/italicize.js")
  script.
    new Monotalic()
