extends ../layout

block content
  section
    h1 monotalic
    p
      | I was curious how a monospace font would look in "italic". <br>
      | Wrapping each individual character in a <code>span</code> we can
      | give the impression of the text being italic by adding a
      | <code>skewX</code> transform.
    pre.js-monotalic
      | #{code}

block script
  script(src="/vendor/domready/ready.js")
  script(src="/js/exp/monotalic.jsx")
